@import url(https://cdn.moefont.com/fonts/css?family=Lato:400,700);
@import url(https://cdn.moefont.com/fonts/css?family=Roboto+Condensed:400,700);

.h1,.h2,.h3,.h4,.lead,body,h1,h2,h3,h4 {
	font-family:RobotoDraft,Roboto,"Helvetica Neue",Helvetica,"Segoe UI","Microsoft YaHei",arial,sans-serif;
	font-weight:400
}
p {
	line-height:25px
}
body>.container {
	margin-top:40px;
	margin-bottom:60px
}
body {
  background-color: #f7f7f7;
}
footer {
	margin:0;
	bottom:0;
	left:0;
	right:0;
	z-index:5;
}
#main {
	padding-top:80px
}
.loader {
	margin: 0 auto;
	font-size: 6px;
	position: absolute;
	top: calc(50% - 60px);
	left: calc(50% - 60px);
	text-indent: -9999em;
	border-top: 1.1em solid rgba(194, 193, 193, 0.5);
	border-right: 1.1em solid rgba(199, 197, 197, 0.5);
	border-bottom: 1.1em solid rgba(203, 203, 203, 0.5);
	border-left: 1em solid #feb800;
	animation: fa-spin 2s infinite linear;
	-webkit-animation: fa-spin 2s infinite linear;
}
.loader, .loader:after {
	width: 10em;
	height: 10em;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.navbar.navbar-inverse {
	border:0;
	background-color:#fff;
  color:#777;
  font-weight: bold;
	padding-right: 15px;
}
.navbar .navbar-nav > li.site-logo > a {
  padding: 10px 20px 10px;
}
.navbar .navbar-brand {
	height: auto;
}
.billboard {
  position: relative;
	background:#f7f7f7;
  margin-top: 80px;
	height: 600px;
	color: #ecf0f1;
	box-shadow: 0 5px 0 0 #f5bb00;
  -webkit-box-shadow: 0 5px 0 0 #f5bb00;
}
.billboard .intro {
	color:#fff;
	text-shadow:0 0 15px #202020
}
.billboard-background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
}
.billboard-background-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4) center center no-repeat;
  opacity: 0;
  background-size: cover;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.billboard-container {
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 100%;
  text-align: center;
  transform: translate3D(0,-50%,0);
  -moz-transform: translate3D(0,-50%,0);
  -o-transform: translate3D(0,-50%,0);
  -ms-transform: translate3D(0,-50%,0);
  -webkit-transform: translate3D(0,-50%,0);
}
.billboard-text {
  display: inline-block;
  width: auto;
  margin: 0 auto;
  overflow: hidden;
  text-shadow: 0 0 15px #d35400;
}
.billboard-text-border-top {
  margin: 40px 0 20px;
  height: 2px;
  background: #ecf0f1;
  width: 100%;
  margin-left: 120%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.billboard-text-border-bottom {
  margin: 20px 0;
  height: 2px;
  background: #ecf0f1;
  width: 100%;
  margin-left: -120%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.billboard-footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  font-size: 22px;
}
h1.blog-title, h3.blog-description, div.billboard-footer {
	font-family: Consolas,"Microsoft YaHei"!important;
}
.post-thumbnail {
	height: 280px;
	background: #7f7f7f;
	position: relative;
	overflow: hidden;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}
.article-thumbnail {
	height: 280px;
	background: #7f7f7f;
	position: relative;
	overflow: hidden;
}
.post-meta {
	color: rgba(255, 255, 255, 0.6);
	font-size:14px;
	font-family: Lato,sans-serif;
	position:absolute;
	right: 10px;
	top: 10px;
	display: inline-block;
	margin: 0 !important;
}
.post-title {
	font-size:28px;
	line-height:1.7em;
	position:absolute;
	bottom: 0;
	left: 0;
	display: inline-block;
	padding: 10px 15px;
	margin: 0 !important;
}
.post-title a {
	text-decoration:none;
	color: rgba(255, 255, 255, 0.6);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.post-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.article-thumbnail:hover .post-cover {
	transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2); /* IE 9 */
}
.post-cover > a {
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	opacity: .2;
	-webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}
.article-thumbnail:hover > .post-cover > a {
	opacity: 1;
}
.post-cover > a > .plus {
	width: 30px;
	height: 30px;
	position: absolute;
	left: calc(50% - 15px);
	top: calc(50% - 15px);
	opacity: 0;
	color: #f5bb00;
}
.article-thumbnail:hover > .post-cover > a > .plus {
	opacity: 1;
}
.article-thumbnail:hover > .post-title > a {
	color: #fff;
}
article > .panel-body {
	padding: 30px 30px 10px;
}
.post-content.index-content {
	color: #999;
}
.post-content img {
  max-width:650px;
}
p.more {
	text-align: right;
}
.post-content-header {
	padding: 0 0 30px;
}
.post-content-category {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
}
.post-content-category > a {
	margin-right: 9px;
}
.post-content-title {
	margin-bottom: 15px;
	color: #50514f;
	line-height: 1.2;
}
.post-content-title > h1 {
	margin-top: 0;
	margin-bottom: 0;
}
.post-content-meta {
	font-size: 14px;
	color: #cecece;
}
.post-content-meta > span {
	margin-right: 10px;
}
.post-content-author > a {
	color: #cecece;
	text-decoration: none;
	font-weight: bold;
}
.post-content-author > a:hover {
	color: #f5bb00;
}
.post-content-meta-bottom {
	margin-top: 40px;
	border-top: 1px solid #f4f4f4;
	padding: 15px 0;
}
.post-content-meta-bottom > .tags {
	float: left;
}
.post-content-meta-bottom > .tags > a {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	font-family: Lato,sans-serif;
	background-color: #f4f4f4;
	color: #999;
	padding: 0 15px;
	margin-right: 10px;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.post-content-meta-bottom > .tags > a:hover {
	background-color: #f5bb00;
	color: #fff;
}
.post-content-meta-bottom > .socials {
	float: right;
}
.post-content-meta-bottom > .socials > a {
	color: #999;
	width: 30px;
	height: 30px;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	line-height: 30px;
	-webkit-transition: color 0.2s ease;
	-moz-transition: color 0.2s ease;
	-ms-transition: color 0.2s ease;
	-o-transition: color 0.2s ease;
	transition: color 0.2s ease;
}
.post-content-meta-bottom > .socials > a:hover {
	color: #f5bb00;
}
.panel-body.content-inner {
	padding: 30px;
}
.content-inner .post-content-header+.post-content {
	padding-top: 0;
}
.page-navigator {
	display:block;
	padding-left:0;
	margin:20px 0;
	text-align: center;
}
.page-navigator li.current {
	color:#FFF;
}
.page-navigator li.next {
	float: right;
	margin-right: 0;
	font-size: 20px;
}
.page-navigator li.prev {
	float: left;
	margin-left: 0;
	font-size: 20px;
}
.page-navigator>li {
	display:inline-block;
}
.page-navigator>li:first-child>a,.page-navigator>li:first-child>span {
	margin-left:0;
}
.page-navigator>.current>a,.page-navigator>.current>a:focus,.page-navigator>.current>a:hover,.page-navigator>.current>span,.page-navigator>.current>span:focus,.page-navigator>.current>span:hover {
	z-index:2;
	color:#fff;
	cursor:default;
	background-color:#f5bb00;
	border-color:#f5bb00;
}
.page-navigator>.active>a,.page-navigator>.active>a:focus,.page-navigator>.active>a:hover,.page-navigator>.active>span,.page-navigator>.active>span:focus,.page-navigator>.active>span:hover {
	z-index:2;
	color:#fff;
	cursor:default;
	background-color:#f5bb00;
	border-color:#f5bb00;
}
.page-navigator>li>a,.page-navigator>li>span {
	position:relative;
	float:left;
	width: 40px;
	height: 40px;
	margin: 0 3px;
	line-height:40px;
	text-decoration:none;
	background-color:#fff;
	color: #999;
}
.page-navigator>li>a:hover {
	color: #f5bb00;
}
.navbar-right {
	padding: 15px;
}
.search-form {
	position: relative;
	width: 50px;
	transition: width ease .2s;
	-moz-transition: width ease .2s;
	-webkit-transition: width ease .2s;
	-o-transition: width ease .2s;
}
.toggle-search-form {
	width: 320px;
}
.search-form .form-group {
	margin: 0 !important;
	padding: 0 !important;
}
.search-text {
	background-color: #f4f4f4;
	border-radius: 25px;
	transition: background-color ease .15s,border-color ease .15s;
	padding: 0 20px;
	height: 50px;
	width: 100%; /* 宽度自适应 */
	line-height: 50px;
	color: #777;
	z-index: 2;
	border: 1px solid #ccc;
	box-shadow: inset 0 0 0 0 transparent;
	border-color: #f4f4f4;
	box-sizing: border-box;
}
.search-text:focus {
	border-color:#ececec;
	background-color:#fff;
}
#search-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	background-color: transparent;
	cursor: pointer;
}
#search-btn:after {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	font-family: FontAwesome;
	text-rendering: auto;
	content: "\f002";
	line-height: 50px;
	color: #999;
	border-radius: 50%;
	text-align: center;
	background-color: #f4f4f4;
	z-index: 3;
	transition: background-color ease .2s;
}
.toggle-search-form #search-btn:after {
	background-color: transparent;
	content: "\f00d";
	z-index: 2;
}
.sidebar {
	padding: 10px 20px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.widget-heading .widget-title {
	line-height: 1;
	font-size: 24px;
	text-transform: uppercase;
	color: #50514f;
	position: relative;
	text-align: left;
	padding: 15px 0;
	margin: 0;
	border-bottom: 1px solid rgb(244, 244, 244);
}
.widget-heading .widget-title::after {
	position: absolute;
	content: " ";
	z-index: 1;
	bottom: -1px;
	left: 0px;
	width: 100px;
	height: 1px;
	background-color: #f5bb00;
}
.widget-content {
	padding: 10px 0 30px;
}
.repo_logo {
	opacity: 0.4;
	width: 1.5em;
	height: 1.5em;
	margin-right: 10px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.code_repo > a:hover > .repo_logo {
	opacity: 0.8;
}
.col-md-4 .widget .item {
	position:relative;
	display:block;
	padding:10px 15px;
	margin-bottom:-1px;
	color:#555;
	text-decoration:none;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-break:break-all
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.col-md-4 .widget a.widget-heading {
	display:block;
	text-decoration:none;
}
a:hover.item {
	background-color:#eee
}
footer .footer-bottom {
	color:#aaa;
	padding:10px 0;
	font-size:14px;
	letter-spacing:  1px;
	background-color: #fff;
}
.footer-bottom > .container {
	text-align: center;
}
.footer-bottom > .container > div {
	margin: 8px 0;
}
.themeauthor {
	letter-spacing: 3px;
}
.social {
  font-size: 30px;
  padding: 10px 0 25px;;
}
.social a {
  color: #dedede;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.social a:hover>i.fa-github {
  color: #333;
}
.social a:hover>i.fa-twitter {
  color: #3498db;
}
.social a:hover>i.fa-vimeo {
  color: #2c3e50;
}
.social a:hover>i.fa-steam {
  color: #333;
}
.social a:hover>i.fa-google-plus {
  color: #c0392b;
}
.feature a {
	color: #aaa;
}
.footer-toolbar {
	background-color: #f5bb00;
	text-align: center;
}
.footer-toolbar > .footer-back-top {
	display: inline-block;
	width: 80px;
	height: 80px;
	padding: 15px 0;
	border-left: 1px solid rgba(255,255,255,.2);
	border-right: 1px solid rgba(255,255,255,.2);
	color: #fff;
	margin: 0 !important;
}
.comment-list {
	background-color: #fff;
	margin: 0 !important;
	padding: 0 !important;
}
.comment-list > li {
	list-style-type: none;
	padding: 30px;
}
.comment-list > li > .comment-avatar {
	float: left;
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}
.comment-list > li > .comment-caption {
	margin-left: 100px;
}
.comment-content {
	position: relative;
	padding: 20px 20px 10px;=
	margin-left: 10px;
	background-color: #f4f4f4;
	color: #999;
	font-style: italic;
	border-radius: 3px;
}
div.comment-content:before {
	position: absolute;
	top: 15px;
	left: -10px;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	border-color: transparent #f4f4f4 transparent transparent;
}
.comment-meta {
	margin-top: 10px;
	color: #cecece;
}
.comment-meta > span {
	margin-right: 10px;
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
}
.comment-meta > span > a {
	text-decoration: none;
}
.comment-author > a {
	font-weight: bold;
	color: #50514f;
}
.comment-author, .comment-date {
	float: left;
}
.comment-reply {
	float: right;
}
.comment-reply > a {
	color: #cecece;
	transition: color .2s ease;
	-o-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-webkit-transition: color .2s ease;
	-ms-transition: color .2s ease;
}
.comment-reply > a:hover {
	color: #f5bb00;
}
.comment-heading {
	padding: 0 15px;
}
.comment-current-user {
	margin: 20px 20px 0px;
}
.about_me {
	padding-top: 30px;
}
.about_me > .avatar {
	width: 120px;
	height: 120px;
	background-color: #cecece;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto 15px;
}
.about_me > .avatar > img {
	width: 100%;
	height: auto;
}
.about_me > .blogger_name {
	margin: 0 auto;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}
.about_me > .description {
	margin: 0 auto;
	padding: 10px 0 15px;
	color: #999;
	font-size: 16px;
	text-align: center;
}
.about_me a {
	color: black;
	text-decoration: none;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.about_me a:hover {
	color: #f5bb00;
}
.my_info {
	border-top: 1px dashed #ececec;
	padding-top: 15px;
}
.my_info ul {
	padding: 0;
}
.my_info ul li {
	list-style: none;
}
.my_info ul li dl {
	font-size: 0;
	padding: 5px 0;
	margin: 0;
}
.my_info ul li dl dd {
	font-size: 16px;
	display: inline-block;
}
.my_info ul li dl > dd:nth-child(1) {
	width: 10%;
	text-align: center;
}
.my_info ul li dl > dd:nth-child(2) {
	width: 35%;
	color: #777;
}
.my_info ul li dl > dd:nth-child(3) {
	width: 55%
}
.friends .post-content-title > h1 {
	/* 友情链接主标题 居中 */
	text-align: center;
	font-size: 28px;
}
.friends .post-content-subtitle > h3 {
	/* 友情链接副标题 居中 */
	text-align: center;
	color: #999;
	font-size: 18px;
	font-weight: normal;
}
.friends .spliter-container {
	text-align: center;
}
.friends .spliter {
	text-align: center;
	display: inline-block;
	position: relative;
}
.friends .spliter span {
	display: inline-block;
	color: #E0B764;
}
.friends .spliter .line {
	width: 100px;
	height: 1px;
	background: #E0B764;
	position: absolute;
	top: 12px;
}
.friends .spliter .line.left {
	right: 25px;
}
.friends .spliter .line.right {
	left: 25px;
}
.friends .spliter .icon {
	font-size: 18px;
}
.friends .post-content .row a {
	display: block;
	padding: 15px;
}
.friends .post-content .row .blog-icon {
	width: 90px;
	height: 90px;
	position: relative;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.friends .post-content .row .blog-icon .icon-cover {
	position: absolute;
	top: 0;
	left: 0;
	border: 3px solid #000;
	background: rgba(245, 187, 0, 0.4);
	opacity: 0;
	color: white;
	font-size: 26px;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 90px;
	z-index: 5;
	border-radius: 50%;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.friends .post-content .row .text-info {
	height: 90px;
	margin: 0 30px;
}
.friends .post-content .row .blog-icon img {
	width: 100%;
	height: auto;
	border: 3px solid #000;
}
.friends .post-content .row .left .blog-icon {
	margin-right: 70px;
}
.friends .post-content .row .right .blog-icon {
	margin-left: 70px;
}
.friends .post-content .row .left > div {
	float: right;
}
.friends .post-content .row .right > div {
	float: left;
}
.friends .links-title {
	margin: 0;
	height: 100%;
	line-height: 90px;
	font-weight: normal;
	font-family: "微软雅黑", "Microsoft YaHei", arial, sans-serif;
	color: #999;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
/*.friends .post-content .row > a:hover .blog-icon {
	border: 3px solid black;
}*/
.friends .post-content .row > a:hover .links-title {
	color: #f5bb00;
}
.friends .post-content .row > a:hover .blog-icon .icon-cover {
	opacity: 1;
}
.aboutme .post-content-header {
	padding: 70px 20px;
}
.aboutme .post-content-title {
	text-align: center;
	margin-bottom: 0;
}
.aboutme .post-content-title .line {
	width: 120px;
	display: inline-block;
	border: 4px double #c2c2c2;
	margin: 9px 10px;
}
.aboutme .post-content-title h1 {
	display: inline-block;
}
.aboutme .basic .avatar {
	width: 27%;
}
.aboutme .basic .avatar img {
	border: 2px solid #f5bb00;
	padding: 12px;
	background: #fff;
	max-width: 100%;
}
.aboutme ul {
	margin: 0;
	padding: 0;
}
.aboutme ul li {
	list-style: none;
	line-height: 3em;
}
.aboutme .basic {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 30px 0;
	color: #fff;
}
.aboutme .basic h1 {
	color: #f5bb00;
	margin: 19px 0 20px;
}
.aboutme .basic .list-left, .aboutme .basic .list-right {
	float: left;
}
.aboutme .basic .list-left {
	width: 27%;
	font-weight: bold;
	color: #f5bb00;
}
.aboutme .basic .list-right {
	width: 73%;
}
.aboutme .skills {
	padding: 40px;
	position: relative;
}
.aboutme .skills h4 {
	font-size: 13px;
	text-transform: uppercase;
	color: #666666;
}
.aboutme .skills .progress {
	border: 1px solid #E0B764;
}
.aboutme .skills .progress .percentage {
	background-color: #E0B764;
}
.aboutme .skills .logo {
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
}
.aboutme .skills .logo:before {
	width: 10px;
	height: 90%;
}
.aboutme .skills .logo:after {
	width: 90%;
	height: 10px;
	margin-right: 10px;
}
.aboutme .skills .logo:before, .aboutme .skills .logo:after {
	content: '';
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  background: rgba(200,200,200,0.51)
}
.aboutme .skills .logo .text {
	position: absolute;
	bottom: 45px;
	right: 35px;
	text-align: right;
	font-size: 35px;
	line-height: 50px;
	color: #33373d;
}
.aboutme .skills .logo .text:after {
	position: absolute;
	content: '';
	bottom: -10px;
	right: 0;
	width: 120%;
	height: 4px;
	background-color: #FFC815;
}
.aboutme .am_experience {
	position: relative;
	background-color: #f2f2f2;
}
.aboutme .am_experience .col-md-4 {
	background-position: center;
	background-repeat: repeat;
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: grey;
}
.aboutme .am_experience .col-md-4 .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.3;
	z-index: 3;
}
.aboutme .am_experience .logo {
	position: absolute;
	top: 40px;
	bottom: 40px;
	left: 20px;
	right: 0;
	z-index: 5;
}
.aboutme .am_experience .logo:before {
	width: 10px;
	height: 95%;
}
.aboutme .am_experience .logo:after {
	width: 85%;
	height: 10px;
	margin-left: 10px;
}
.aboutme .am_experience .logo:before, .aboutme .am_experience .logo:after {
	content: '';
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 2;
	background: rgba(255,255,255,0.51)
}
.aboutme .am_experience .logo .text {
	position: absolute;
	bottom: 45px;
	left: 35px;
	text-align: left;
	font-size: 35px;
	line-height: 50px;
	color: rgba(255,255,255,0.91);
}
.aboutme .am_experience .logo .text:after {
	position: absolute;
	content: '';
	bottom: -10px;
	left: 0;
	width: 120%;
	height: 4px;
	background-color: #FFC815;
}
.aboutme .am_experience .col-md-8 {
	padding: 40px;
}
.aboutme .margTop {
	margin-top: 60px !important;
}
.aboutme .timeline:after, .aboutme .exp:after {
	border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.aboutme .timeline {
  position: relative;
}
.aboutme .timeline:before {
	background: #e0e0e0; /* Old browsers */
	background: -moz-linear-gradient(top,  #e0e0e0 1%, #e0e0e0 75%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e0e0e0), color-stop(75%,#e0e0e0), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e0e0e0 1%,#e0e0e0 75%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  # 1%,#e0e0e0 75%,#e0e0e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e0e0e0 1%,#e0e0e0 75%,#f2f2f2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e0e0e0 1%,#e0e0e0 75%,#f2f2f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  bottom: 0;
  content: "";
  left: 18px;
  position: absolute;
  top: 0;
  width: 3px;
	height:100%;
}
.aboutme .timeline:after {
	background: #f2f2f2;
	border:3px solid #e2e2e2;
	font-family: FontAwesome;
	top:0;
	left:-5px;
	width:50px;
	height:50px;
	position: absolute;
	text-align:center;
	color:#333333;
	font-size:20px;
	line-height:45px;
}
.aboutme .timeline.experience:after {
	content: "\f0b1";
}
.aboutme .exp{
	padding-left: 50px;
	padding-top: 20px;
	position:relative;
	margin-bottom:10px;
}
.aboutme .exp:after{
 	background: #cd5353;
  border: 3px solid #f2f2f2;
  content: "";
  height: 15px;
  left: 12px;
  position: absolute;
  text-align: center;
  top: 24px;
  width: 15px;
}
.aboutme .exp .hgroup h4, h6 {
	margin-bottom:0;
}
.aboutme .exp .hgroup h4 {
	text-transform:none;
	font-family: SimHei, "黑体", STHeiti, "华文黑体", "Microsoft YaHei", Arial;
}
.aboutme .exp .hgroup{
	margin-bottom:5px;
}
.aboutme .exp .hgroup h6 {
	text-transform:none;
	font-size:12px;
	color:#666666;
	font-style: italic;
}
.aboutme .exp .hgroup h6 i{
	color:#cccccc;
	margin-right:5px;
}
.aboutme .exp p {
	color: #999999;
}
.aboutme .exp .hgroup h6 span.current{
	color:#ffffff;
	background: #cd5353;
	border-radius:6px;
	-moz-border-radius:6px
	-webkit-border-radius :6px;
	-ms-border-radius:6px;
	-o-border-radius: 6px;
	padding:1px 12px;
}
.aboutme .icon-container {
	color: #E0B764;
	position: relative;
	border-radius: 50%;
	font-size: 75px;
	border:  2px solid #E0B764;
	text-align: center;
	width: 150px;
	height: 150px;
	cursor: pointer;
}
.aboutme .icon-container i {
	position: absolute;
	margin: auto;
	width: 75px;
	height: 75px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
}
.aboutme .icon-container .icon-cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	transform: scale(0);
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0); /* IE 9 */
	transition: all .2s ease;
	-o-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-ms-transition: all .2s ease;
	z-index: 1;
	background: #f2f2f2;
}
.aboutme .icon-container:hover .icon-cover {
	transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1); /* IE 9 */
}
.aboutme .contact .icon-subtitle {
	margin-top: 35px;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
}
.aboutme .contact .description {
	margin: 20px 0;
	text-align: center;
	color: #999999;
}
.aboutme .contact .col-md-4 {
	padding: 100px 20px;
}
#ds-thread {
	background: #ffffff;
	padding: 30px;
}
#ds-thread #ds-reset .ds-highlight, #ds-thread #ds-reset .ds-sort a.ds-current, #ds-thread #ds-reset .ds-sort a:active, #ds-thread #ds-reset a.ds-comment-context, #ds-thread #ds-reset #ds-bubble a:hover, #ds-thread #ds-reset #ds-bubble a {
	color: #f5bb00 !important;
}
#ds-reset .ds-avatar img {
	box-shadow: none !important;
	border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
}
#ds-reset .ds-post .ds-avatar img {
	width: 80px;
	height: 80px;
}
#ds-reset .ds-replybox .ds-avatar img {
	width: 80px !important;
 	height: 80px !important;
}
#ds-thread #ds-reset .ds-post .ds-comment-body {
	padding-left: 100px;
}
#ds-thread #ds-reset .ds-post .ds-comment-body p {
	position: relative;
	padding: 15px;
	background-color: #f4f4f4;
	color: #666;
	font-style: italic;
}
#ds-thread #ds-reset .ds-post .ds-comment-body p:hover {
	color: #333;
}
#ds-thread #ds-reset .ds-post .ds-comment-body p:before {
	position: absolute;
	top: 15px;
	left: -10px;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	border-color: transparent #f4f4f4 transparent transparent;
}
#ds-thread #ds-reset .ds-replybox {
	padding-left: 100px !important;
}
#ds-thread #ds-reset .ds-replybox .ds-textarea-wrapper {
	border: none;
	background: #f4f4f4;
	overflow: visible;
}
#ds-thread #ds-reset .ds-replybox .ds-textarea-wrapper:before {
	position: absolute;
	top: 35px;
	left: -10px;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	border-color: transparent #f4f4f4 transparent transparent;
}
#ds-thread #ds-reset .ds-replybox .ds-post-options {
	border: none;
	background: #f4f4f4;
	border-radius: 0;
}
#ds-thread #ds-reset .ds-replybox .ds-post-button {
	border: none;
	background: #fea958;
	color: #fff;
	border-radius: 3px;
	height: 30px;
	font-weight: normal;
	font-family: "Microsoft YaHei",arial,sans-serif;
	text-shadow: none;
	transition: all .2s ease;
	-o-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-ms-transition: all .2s ease;
}
#ds-thread #ds-reset .ds-replybox .ds-post-button:hover {
	background: #f0ad4e;
	border-radius: 3px;
	color: #fff;
}
#ds-reset .ds-avatar img , #ds-thread #ds-reset ul.ds-children .ds-avatar img {
	-webkit-transition: .9s ease;
	-moz-transition: .9s ease;
	-o-transition: .9s ease;
	-ms-transition: .9s ease;
	transition: .9s ease;
}
/*鼠标悬停旋转头像*/
.ds-post:hover .ds-avatar img {
	transform:rotate(720deg);
	-webkit-transform:rotate(720deg);
	-moz-transform:rotate(720deg);
	-o-transform:rotate(720deg);
	-ms-transform:rotate(720deg);
}
#ds-reset .ds-avatar img:hover{
	transform:rotate(720deg);
	-webkit-transform:rotate(720deg);
	-moz-transform:rotate(720deg);
	-o-transform:rotate(720deg);
	-ms-transform:rotate(720deg);
}
#ds-thread #ds-reset .ds-post-toolbar span.ds-sync {
	display: none;
}
#ds-thread #ds-reset .ds-meta {
	border-bottom: 1px solid #f4f4f4 !important;
}
#ds-thread #ds-reset.ds-no-opacity .ds-comments, #ds-thread #ds-reset.ds-no-opacity .ds-paginator {
	border-bottom: 1px solid #f4f4f4 !important;
}
#ds-thread #ds-reset.ds-no-opacity .ds-comments li.ds-post {
	border-top: 1px solid #f4f4f4 !important;
}
.ds-meta {
  opacity: .5;
}
.ds-meta:hover {
  opacity: 1;
}
#ds-thread #ds-reset a.ds-like-thread-button {
  background-image: none;
  background-color: #fee2d3;
  border: none;
  text-shadow: none;
  font-family: inherit;
}
#ds-thread #ds-reset .ds-toolbar .ds-account-control ul {
	border: none;
	border-radius: 0;
}
#ds-thread #ds-reset .ds-toolbar .ds-account-control ul li a {
	border-top: none;
	border-bottom: none;
	padding: 8px 10px;
	text-shadow: none;
}
#ds-thread #ds-reset .ds-toolbar .ds-visitor {
	margin-right: 10px;
}
#logo {
	display:none
}
@media(max-width:768px) {
	#logo {
	display:inline
}
}.panel.panel-default>.panel-body>.post-content>p>img {
	max-width:100%
}
.post-title {
	font-size:20px;
}
button.btn.btn-primary:focus, button.btn.btn-primary:active, button.btn.btn-primary:after {
	outline: none;
}
.back-to-top {
	position: fixed;
	bottom: 0;
	right: -40px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 10px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	z-index: 20;
	background-color: #f5bb00;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.back-to-top:hover {
	background-color: #cc9c00;
}
.back-to-top.show-button {
	right: 0px;
}

/* Scrollbar */
::-webkit-scrollbar {width: 8px; height:8px;}
.content ::-webkit-scrollbar{height:5px;}
::-webkit-scrollbar-thumb{background-color:rgba(0,0,0,.2) !important;}
.nicescroll-rails div{border:0 !important;border-radius: 0 !important;}

html.han-la hanla:after {
	content: " ";
	display: inline;
	font-family: Arial;
	font-size: 0.89em;
}

html.han-la code hanla,
html.han-la pre hanla,
html.han-la kbd hanla,
html.han-la samp hanla {
	display: none;
}

html.han-la ol > hanla,
html.han-la ul > hanla {
	display: none;
}
.easeIns {
   opacity:1;
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.easeOuts {
   opacity:0;
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.clearfix:before,.clearfix:after{
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
.progress {
	display: block;
	height: 16px;
	margin: 8px 0 14px;
	position: relative;
	width: 100%;
	overflow: visible;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	background: #ffffff;
}
.progress .percentage {
	position: absolute;
	top: 0;
	bottom: 0;
	border-radius: 50px 0 0 50px;
	-moz-border-radius: 50px 0 0 50px;
	-webkit-border-radius: 50px 0 0 50px;
	-ms-border-radius: 50px 0 0 50px;
	-o-border-radius: 50px 0 0 50px;
}
